  <h3>Edit restaurant</h3>
<form method="POST" action="/restaurants/{{ restaurant._id}}">
    <label>Name:</label>
    <input type="" name="name" placeholder="Name" value="{{ restaurant.name}}">
    <label>Description:</label>
    <input type="" name="description" placeholder="Description" value="{{ restaurant.description}}">

    <label>Address</label>
    <input type="hidden" id="latitude" name="latitude" placeholder="latitude" value="{{ restaurant.location.coordinates.[1]}}" >
    <input type="hidden" id="longitude" name="longitude" placeholder="longitude" value="{{ restaurant.location.coordinates.[0]}}">

    <input type="text" id="address" name="address" placeholder="address" value="{{ restaurant.address}}">
    <input id="getLatLng" type="button" value="get lat lng">

    <button type="submit" name="" id="submit">Edit</button>
</form>
